[flake8]
ignore =
    # continuation line over indented
    E126,
    # whitespace around arithmetic operator
    E226,
per-file-ignores =
    __init__.py: F401,F403,F405,
    src/opinf/pre/_finite_difference.py: W503,
    src/opinf/core/nonparametric/_public.py: E128,
    tests/core/operators/test_affine.py: E501,
statistics = True
