# _config.yml
# See https://jupyterbook.org/customize/config.html.

title: ""
author: Willcox Research Group, Oden Institute for Computational Engineering and Sciences
email: karen.willcox@oden.utexas.edu
logo: images/logo.svg

# Information about where the book exists on the web.
repository:
  url: https://github.com/Willcox-Research-Group/rom-operator-inference-Python3
  path_to_book: docs
  branch: main                          # Branch to use when creating links.

# GitHub buttons and other web options.
html:
  home_page_in_navbar: false
  use_edit_page_button: false
  use_issues_button: true
  use_multitoc_numbering: false
  use_repository_button: true
  favicon: images/favicon.svg

# Notebooks execution configuration for build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: cache              # auto, force, cache, or 'off'.

# Bibtex file for citations.
bibtex_bibfiles:
  - references.bib

parse:
  myst_enable_extensions:
    - amsmath
    - colon_fence
    - dollarmath
    - linkify
    - substitution
    - tasklist

sphinx:
  config:
    add_function_parentheses: true
    add_module_names: false             # If false, shorten function names.
    autosummary_filename_map: {         # Resolve lower/upper case ambiguities.
      "opinf.post.Lp_error": "bigLp-error",
    }
    autosummary_generate: true          # Turn on sphinx.ext.autosummary.
    bibtex_reference_style: label
    # bibtex_default_style: plain       # Citations as numbers.
    # intersphinx_mapping: {
    #   "python": ("https://docs.python.org/3", None),
    #   "numpy": ("https://numpy.org/devdocs", None),
    #   "matplotlib": ("https://matplotlib.org/stable", None),
    # }
    mathjax3_config:
      tex:
        macros:
          "RR": "\\mathbb{R}"                 # real numbers
          "NN": "\\mathbb{N}"                 # natural numbers
          "ZZ": "\\mathbb{Z}"                 # integers
          "I": "\\mathbf{I}"                  # identity matrix
          "0": "\\mathbf{0}"                  # zero vector or matrix
          "1": "\\mathbf{1}"                  # vector of ones
          "q": "\\mathbf{q}"                  # state vector
          "u": "\\mathbf{u}"                  # input vector
          "z": "\\mathbf{z}"                  # rhs vector
          "d": "\\mathbf{d}"                  # data vector
          "Q": "\\mathbf{Q}"                  # state data
          "U": "\\mathbf{U}"                  # input data
          "Z": "\\mathbf{Z}"                  # rhs data
          "Op": "\\mathcal{F}"                # generic operator
          "Ophat": "\\widehat{\\mathcal{F}}"  # generic reduced operator
          "c": "\\mathbf{c}"                  # constant operator
          "A": "\\mathbf{A}"                  # linear operator
          "H": "\\mathbf{H}"                  # quadratic operator
          "G": "\\mathbf{G}"                  # cubic operator
          "B": "\\mathbf{B}"                  # input operator
          "N": "\\mathbf{N}"                  # bilinear operator
          "v": "\\mathbf{v}"                  # basis vector
          "Vr": "\\mathbf{V}_{r}"             # trial basis matrix
          "Wr": "\\mathbf{W}_{r}"             # test basis matrix
          "qhat": "\\widehat{\\mathbf{q}}"    # reduced state vector
          "zhat": "\\widehat{\\mathbf{z}}"    # reduced rhs vector
          "Qhat": "\\widehat{\\mathbf{Q}}"    # reduced state data
          "Zhat": "\\widehat{\\mathbf{Z}}"    # reduced rhs data
          "chat": "\\widehat{\\mathbf{c}}"    # reduced constant operator
          "Ahat": "\\widehat{\\mathbf{A}}"    # reduced linear operator
          "Hhat": "\\widehat{\\mathbf{H}}"    # reduced quadratic operator
          "Ghat": "\\widehat{\\mathbf{G}}"    # reduced cubic operator
          "Bhat": "\\widehat{\\mathbf{B}}"    # reduced input operator
          "Nhat": "\\widehat{\\mathbf{N}}"    # reduced bilinear operator
          "D": "\\mathbf{D}"                  # data matrix
          "ohat": "\\widehat{\\mathbf{o}}"    # operator vector
          "Ohat": "\\widehat{\\mathbf{O}}"    # operator matrix
          "bfmu": "\\boldsymbol{\\mu}"        # parameter vector
          "bfGamma": "\\boldsymbol{\\Gamma}"  # regularization matrix
          "bfPhi": "\\boldsymbol{\\Phi}"      # left singular vectors
          "bfSigma": "\\boldsymbol{\\Sigma}"  # singular values
          "bfPsi": "\\boldsymbol{\\Psi}"      # right singular vectors
          "trp": "{^{\\mathsf{T}}}"           # transpose
          "ddt": "\\frac{\\textrm{d}}{\\textrm{d}t}"    # time derivative
          "ddqhat": "\\frac{\\textrm{d}}{\\textrm{d}\\qhat}"  # d/dqhat
    mathjax_path: https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
    numfig_secnum_depth: 1              # Eq (1.1) instead of (1).
    numpydoc_class_members_toctree: false
    numpydoc_show_class_members: false
    numpydoc_show_inherited_class_members: false
    suppress_warnings: ["etoc.toctree"]
    templates_path: templates           # Location of autosummary templates.
    # toc_object_entries_show_parents: hide   # Requires sphinx>=5.2.0.
  extra_extensions:
    - numpydoc
    - sphinx_design
    - sphinx.ext.autodoc
    - sphinx.ext.autosummary
    - sphinx.ext.napoleon
    - sphinx.ext.viewcode
    - sphinxcontrib.mermaid
