name: deploy-docs

# Only run this when triggered manually.
on:
  # release:
  #   types: [published]
  workflow_dispatch:

# Installs dependencies, builds the documentation, and push it to `gh-pages`
jobs:
  deploy-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.10
      - name: Install package
        run: |
          python -m pip install --upgrade pip
          python -m pip install --use-feature=in-tree-build ".[docs]"
      - name: Build Jupyter Book documentation
        run: |
          jupyter-book build docs
      - name: Push to gh-pages branch
        uses: peaceiris/actions-gh-pages@v3.6.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build/html
