# test_docs.yml
# Build the documentation, the same as would be done locally with `make docs`.
name: CI-docs

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.6.15
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade jupyter-book
          python -m pip install --upgrade sphinx-design
          python -m pip install --upgrade sphinxcontrib-mermaid
      - name: Install package
        run: |
          python -m pip install --use-feature=in-tree-build .
      - name: Build Jupyter Book documentation
        run: |
          jupyter-book build docs
