# test_src.yml
# Run the same tests that would be done locally with `make test`.
name: CI-src

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8.10
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install flake8
          python -m pip install pytest
          python -m pip install pytest-cov
      - name: Install package
        run: |
          python -m pip install --use-feature=in-tree-build .
      - name: Lint code
        run: |
          python -m flake8 src
          python -m flake8 tests
      - name: Run tests
        run: |
          python -m pytest --cov opinf tests
