# tests.yml
# Run the same tests that would be done locally with `make test`.
name: Package Tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.5
    - name: Install package
      run: |
        python -m pip install --upgrade pip
        python -m pip install .
    - name: Lint code
      run: |
        python -m flake8 src
        python -m flake8 tests
    - name: Run test
      run: |
        python -m pytest --cov rom_operator_inference tests
